#main-nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 0 0 1em;
}

#main-nav ul li{
  display: block;
  margin: 1em;
}

#main-nav ul li a {
  text-decoration: none;
  font-weight: 800;
  color: #e0c8be;
}

#main-nav ul li a:hover{
  color: white;
}

h1{
  color: #e99e8e;
  font-weight: 900;
  font-size: 5em;
}

#hero h1{
  padding-left: 1.5em;
  margin-top: 15%;
}

#biography{
  background-color: white;
  width: 70%;
  padding: 1em 5em;
  font-size: 1.25em;
  font-weight: 700;
  color: #e99e8e;
  text-align: center;
  margin-top: 25%;
}

section{
  padding: 15%;
  max-width: 80%;
  margin: auto;
}

h3 {
  letter-spacing: .25em;
  text-align: center;
  margin: 0;
  margin-left: .125em;
}

section hr{
  width: 125px;
  border: 1px solid black;
}

.service-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 3em;
}

.service{
  width: 30%;
  margin: 1.5%;
  background-color: white;
}