/*Typography*/
h1{
  font-weight: 900;
  font-size: 5em;
  color: #e99e8e;
}

h3, h2 {
  text-align: center;
  margin: 0;
}

h3{
  margin-left: .125em;
  letter-spacing: .25em;
  text-transform: uppercase;
}

h2{
  color: #e99e8e;
}


/*Main Page Common*/

section{
  padding-top: 15%;
  max-width: 80%;
  margin: auto;
}

section hr{
  width: 125px;
  border: 1px solid black;
}

/*Triangle Background*/
.triangle{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 75px 129.9px 75px;
  border-color: transparent transparent white transparent;
  position: absolute;
  z-index: -1;
}

/*Main Navigation Component*/

#main-nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0 0 0 1em;
}

#main-nav ul li{
  display: block;
  margin: 1em;
}

#main-nav ul li a {
  text-decoration: none;
  font-weight: 800;
  color: #e0c8be;
}

#main-nav ul li a:hover{
  color: white;
}

/*Hero Component*/

#hero h1{
  padding-left: 1.5em;
  margin-top: 12%;
}

#msc-logo{
  position: absolute;
  top: 1%;
  right: 1%;
  z-index: 100;
  width: 45%;
}

/*Biography Component*/

#biography{
  background-color: white;
  width: 70%;
  padding: 1em 5em;
  font-size: 1.25em;
  font-weight: 700;
  color: #e99e8e;
  text-align: center;
  margin-top: 30%;
}

/*Services & Portfolio Compontents*/
.service-container, .portfolio-container{
  display: flex;
  flex-wrap: wrap;
  margin-top: 2.5em;
}

.service, .work-sample{
  width: 30%;
  margin: 1.5%;
  background-color: white;
}

/*Service Only*/
.service{
  height: 25em;
  background-size: cover;
  background-position: bottom left;
}

.brand-service{
  background-image: url('./img/branding-cover.jpg');
}

.web-design-service{
  background-image: url('./img/webdesign-cover.jpg');
}

.web-dev-service{
  background-image: url('./img/web-development-cover.jpg');
}

.service h2{

  width: 80%;
  margin: 15.75em auto 0;
  background-color: white;
  padding: 5px;

}

/*Portfolio Only*/
.work-sample img{
  width:60%;
  height: auto;
  align-self: center
}

.work-sample{
  background-color: white;
  height: 20em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-self: center
}